<h3>Enquiry Response</h3>
<h4>Source: <%= @lead_details.from %></h4>



<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Number</th>
    <th>Plot Details</th>
  </tr>
  <tr>
    <td><%= @lead_details.name%></td>
    <td><%= @lead_details.email %></td>
    <td><%= @lead_details.phone_number %></td>
   <td><%= @lead_details.plot_size %></td>
  </tr>
</table>
<br>
<br>
<a href="http://hiranandaniparks.com/contact-us.html">For more information contact Hiranandani</a>

<h4>Thanks & Regards,</h4>
<a href="http://hiranandaniparks.com/">Hiranandani parks</a>