<h3>Hi<%= @user.name %>,</h3>

<h4>Your Payment have made <%= @payments["order_staus"] %> With Hiranandhani parks</h4>

<table>
  <tr>
    <th>Payment Staus</th>
    <th>Order id</th>
    <th>Bank Ref no</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td><%= @payments["order_staus"]%></td>
    <td><%= @payments["order_id"] %></td>
    <td><%= @payments["bank_ref_no"] %></td>
   <td>Rs. <%= @payments["amount"] %></td>
  </tr>
</table>
 --><a href="http://hiranandaniparks.com/contact-us.html">Click here to see contact details</a>

<h4>Thanks & Regards,</h4>
<a href="http://hiranandaniparks.com/">Hiranandani parks</a>
