

<ul>
	<li>
		<p><b>Choosed your plot size:</b></p>
		<p><%= @user.plot_details %></p>
	</li>
	<li>
		<p><b>Name:</b></p>
		<p><%= @user.name %></p>
	</li>
	<li>
		<p><b>Email:</b></p>
		<p><%= @user.email %></p>
	</li>
	<li>
		<p><b>Number:</b></p>
		<p><%= @user.phone_number %></p>
	</li>
	<li>
		<p><b>Site Visit Date and Time:</b></p>
		<p><%= @user.site_visit_date_time %></p>
	</li>
</ul>


<h4><b>Thanks & Regards</b>,</h4>
<a href="http://hiranandaniparks.com/">Hiranandani parks</a>