<%= content_for(:title, "Hiranandani Parks - Apartment | Oragadam, Chennai") %>
<%= content_for(:description, "Each room has a story of its own. We at Hiranandani Group strive to make each space resonate as per your taste.Hiranandani Group  presents Hiranandani Parks that offer premium 2.5 & 3 BHK apartments especially designed for today’s modern family.Now it's time to get rid of the excuses. Share life’s priceless moments together with an apartment that engulfs you in a state of bliss.Invest in Hiranandani Apartments  now!") %>
<%= content_for(:keyword, "Hiranandani Parks, Mega Township at Oragadam  Chennai, Mega Township at Chennai suburb, Hiranandani Parks at Oragadam Chennai, Hiranandani Parks by Hiranandani Communities, Hiranandani Communities, Niranjan Hiranandani Initiative, Township by Niranjan Hiranandani, Hiranandani Parks by Hiranandani Communities, Oragadam Residences, Peaceful Residences at Oragadam Chennai, Township by Hiranandani Communities, Township by Hiranandani Communities at Oragadam Chennai, Township with all lifestyle amenities, Luxury Residences at Oragadam Chennai, Residences with Premium Amenities, Residences with Club House and Gymnasium, Residences with Swimming Pool, Township with Luxury Amenities, Township with Golf Course, Township with Club House, Hiranandani Township in Chennai, Niranjan Hiranandani instead Niranjan Hiranandani Initiative, Niranjan Hiranandani's projects, Hiranandani's in Chennai, 2,2.5,3 BHK in Oragadam, 2,2.5,3 BHK in Chennai, Plots and Villas in Oragadam, Hiranandani's plots in Chennai, Hiranandani villa in Chennai, Township with cricket in chennai, Township by Hiranandani Group at Chennai, Township with Music academy in Chennai,Free plots in chennai,Individual villas in chennai,Plots in OMR,Plots in chennai outer,Plots in oragadam,Plot in hiranandani,Plots at low rate chennai,600 square feet Plots in chennai,1200 square feet Plots in chennai,Free movie tickets,Best real estate in chennai,Best builders in chennai,India no 1 builders,constructural industry with low rate in chennai,Plots under 1000000") %>
<style>.head3 {color: #f4ad33 !important;}
@media only screen and (max-width: 768px) {
	.head3 {color: #f4ad33 !important;}
}
@media only screen and (max-width: 1220px) {
	.head3 {color: #f4ad33 !important;}
}
.book-plot-btn{
	display: none;
}
</style>
<section class="banner">	
  <div class="container-fluid" style="padding: 0;">
	
		<!-- Carousel -->
		
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img class="cour-big-mobile" src="http://cdn.getspini.com/hira-img/banner/apart11.jpg"  alt="hiranandani-parks-luxury-apartments">
			    	
			    </div>
			    <div class="item">
			    	<img class="cour-big-mobile" src="http://cdn.getspini.com/hira-img/banner/apartment11.jpg" alt="hiranandani-parks-luxury-apartments">
			    	
			    </div>
			   <div class="item">
			   		
			    	<img class="cour-big-mobile" src="http://cdn.getspini.com/hira-img/banner/apart33.jpg" alt="hiranandani-parks-luxury-apartments">
			    	
			    </div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->
	
</div>
	

</section>

<section class="bg-about">
	<div class="container" style="padding-bottom: 50px">
		<!-- <div class="row">
			<div class="project-video">
			<iframe src="https://www.youtube.com/embed/AlNTL4Qafnc?&rel=0&amp;controls=0&amp;showinfo=0" height="405" width="80%"></iframe>
			</div>
		</div> -->
		<div class="row">
			<div class="text-center" style="padding-top: 50px;">
				<%= image_tag("line-top.png", :alt => "hiranandani-image") %>
					<h1>HIRANANDANI PARKS </h1>
					<h3>EXPERIENCE A WORLD OF PEACE</h3>
				<%= image_tag("line-bottom.png", :alt => "hiranandani-image") %>
			</div>
		</div>
		<div class="row">
		  <div class="col-md-6">
			<h2>INTRODUCTION</h2>

			<p>Enjoy your life and space.Your life...Your space!</p>

			<p>Each room fills a need. A need to shut out the real world!</p>

			<p>A need to break the math quiz. A need to share your secrets with friends!</p>

			<p>An environment that allows you both independence and togetherness.</p>

			<p>In the fast-paced city life, we seldom have the time to live in the moment even if time permits we don't have enough place around us to utilize. Now it's time to get rid of the excuses. Hiranandani Parks is here only for you to zone in on our spacious and airy apartments, specially designed for today’s modern family. Offering premium 2.5 & 3 BHK apartments, you can also dwell on the luxurious amenities like a well-designed clubhouse, swimming pool, a gym, yoga areas and multiple sports facilities. For all your lifestyle needs Hiranandani Parks is designed to cater you.</p>

			<p>To share life’s priceless moments together!</p>

			<p>And yet, have the freedom to struggle into personal and private space!</p>

			<p>An apartment that engulfs you in a state of bliss... HIRANANDANI PARKS!!!</p>
		  </div>
		  <div class="col-md-5" style="padding-top: 50px;margin: auto;display: block;">
         
	        <div id="myCarousel" class="carousel slide" data-ride="carousel">
	          <!-- Indicators -->
	          <ol class="carousel-indicators">
	            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	            <li data-target="#myCarousel" data-slide-to="1"></li>
	            <li data-target="#myCarousel" data-slide-to="2"></li>
	            <li data-target="#myCarousel" data-slide-to="3"></li>
	            <li data-target="#myCarousel" data-slide-to="4"></li>
	            <li data-target="#myCarousel" data-slide-to="5"></li>
	            <li data-target="#myCarousel" data-slide-to="6"></li>
	          </ol>

	          <!-- Wrapper for slides -->
	          <div class="carousel-inner caroseo-align">
	            <div class="item active">
              <img class="custom-cour-img" src="http://cdn.getspini.com/hira-img/opt/01.jpg" alt="hiranandani-parks-luxury-apartments">
            </div>

            <div class="item">
              <img class="custom-cour-img" src="http://cdn.getspini.com/hira-img/opt/02.jpg" alt="hiranandani-parks-luxury-apartments">
            </div>
          
            <div class="item">
              <img class="custom-cour-img" src="http://cdn.getspini.com/hira-img/opt/03.jpg" alt="hiranandani-parks-luxury-apartments">
            </div>

            <div class="item">
              <img class="custom-cour-img" src="http://cdn.getspini.com/hira-img/opt/04.jpg" alt="hiranandani-parks-luxury-apartments">
            </div>

            <div class="item">
              <img class="custom-cour-img" src="http://cdn.getspini.com/hira-img/opt/05.jpg" alt="hiranandani-parks-luxury-apartments">
            </div>

            <div class="item">
              <img class="custom-cour-img" src="http://cdn.getspini.com/hira-img/opt/06.jpg" alt="hiranandani-parks-luxury-apartments">
            </div>

            <div class="item">
              <img class="custom-cour-img" src="http://cdn.getspini.com/hira-img/opt/07.jpg" alt="hiranandani-parks-luxury-apartments">
            </div>
            <div class="item">
              <img class="custom-cour-img" src="http://cdn.getspini.com/hira-img/opt/08.jpg" alt="hiranandani-parks-luxury-apartments">
            </div>
	          </div>

	          <!-- Left and right controls -->
	          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	            <span class="sr-only">Previous</span>
	          </a>
	          <a class="right carousel-control" href="#myCarousel" data-slide="next">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	            <span class="sr-only">Next</span>
	          </a>
	        </div>
      </div>
		</div>
	</div>

</section>


<section class="image-sections bg-about">
<div class="container-fluid">
	<div class="col-md-6">
		<img src="http://cdn.getspini.com/hira-img/apartment-img.jpg" width="100%">
	</div>
	<div class="col-md-6" style="text-align: center;padding-top: 100px;">
		<h2>PREMIUM 2.5 & 3 BHK APARTMENTS  </h2>
		<h3>STARTING AT ₹76 LAKHS ONWARDS </h3>
		
		<%= link_to "E-Brochure" , "/hiranandani-parks-luxury-apartments.pdf", :target => "_blank",:class => "btn btn-warning" %>

	</div>
</div>

</section>
<section class="bg-about">
	<div class="location-map" style="text-align: center;">
		<div class="container">
			<br>
			<%= image_tag("line-top.png", :alt => "hiranandani-image") %>
					<h2>LAYOUT & FLOOR PLANS</h2>
					
			<%= image_tag("line-bottom.png", :alt => "hiranandani-image") %>
			<br><br>
			<div class="row">
				<div class="col-md-12 development-plan">
					<a data-toggle="modal" data-target="#development" style="cursor: pointer;"><img class="development-plan-img" src="http://cdn.getspini.com/hira-img/banner/Hiranandani-plan1.jpg" height="525" width="614" alt="Hiranandani-plan" ></a>
					<h4>PROJECT LAYOUT</h4>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="bg-about">
	<div class="location-map" style="text-align: center;">
		<div class="container">
			<%= image_tag("line-top.png", :alt => "hiranandani-image") %>
					<h4>Individual tower floor plans available below for your reference.</h4>
					
			<%= image_tag("line-bottom.png", :alt => "hiranandani-image") %>
			<div class="row">
				<div class="col-md-4">
					<a data-toggle="modal" data-target="#warwick" style="cursor: pointer;"><img src="http://cdn.getspini.com/hira-img/banner/warwick1.jpg" height="224" width="313" alt="Hiranandani floor-plan1"></a>
					<h4>WARWICK</h4>
				</div>
				<div class="col-md-4">
					<a data-toggle="modal" data-target="#chartwell" style="cursor: pointer;"><img src="http://cdn.getspini.com/hira-img/banner/chartwell1.jpg" height="224" width="313" alt="Hiranandani floor-plan2"></a>
					<h4>CHARTWELL</h4>
				</div>
				<div class="col-md-4">
					<a data-toggle="modal" data-target="#chatsworth1" style="cursor: pointer;"><img src="http://cdn.getspini.com/hira-img/banner/chatsworth1.jpg" height="224" width="313" alt="Hiranandani floor-plan3"></a>
					<h4>CHARTSWORTH</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a data-toggle="modal" data-target="#clarendon1" style="cursor: pointer;"><img src="http://cdn.getspini.com/hira-img/banner/clarendon1.jpg" height="224" width="313" alt="Hiranandani floor-plan4"></a>
					<h4>CLARENDON</h4>
				</div>
				<div class="col-md-4">
					<a data-toggle="modal" data-target="#wilton-big1" style="cursor: pointer;"><img src="http://cdn.getspini.com/hira-img/banner/wilton-big1.jpg" height="224" width="313" alt="Hiranandani floor-plan5"></a>
					<h4>WILTON</h4>
				</div>
				<div class="col-md-4">
					<a data-toggle="modal" data-target="#windsor-big1" style="cursor: pointer;"><img src="http://cdn.getspini.com/hira-img/banner/windsor-big1.jpg" height="224" width="313" alt="Hiranandani floor-plan6"></a>
					<h4>WINDSOR</h4>
				</div>
			</div>
			<!-- <a target="_blank" href="images/floor-plans.pdf"><button type="button" class="btn btn-warning">   Download Floor Plans</button></a> -->
			<%= link_to "Download Floor Plans" , "/floor-plans.pdf", :target => "_blank",:class => "btn btn-warning" %>
			<p style="text-align: center;">Pdf file size: 3.05 MB</p>
		</div>
	</div>
</section>


<!-- Modal 1 -->
<div id="development" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:96%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <img src="http://cdn.getspini.com/hira-img/Dev-Plan.jpg" alt="Hiranandani-plan" style="width: 100%;">
      </div>
    </div>

  </div>
</div>

<!-- Modal 2 -->
<div id="warwick" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:96%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <img src="http://cdn.getspini.com/hira-img/flat/warwick.jpg" alt="Hiranandani-plan" style="width: 100%;">
      </div>
    </div>

  </div>
</div>
<!-- Modal 3 -->
<div id="chartwell" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:96%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <img src="http://cdn.getspini.com/hira-img/flat/chartwell.jpg" alt="Hiranandani-plan" style="width: 100%;">
      </div>
    </div>

  </div>
</div>
<!-- Modal 4 -->
<div id="chatsworth1" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:96%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <img src="http://cdn.getspini.com/hira-img/flat/chatsworth.jpg" alt="Hiranandani-plan" style="width: 100%;">
      </div>
    </div>

  </div>
</div>
<!-- Modal 4 -->
<div id="clarendon1" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:96%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <img src="http://cdn.getspini.com/hira-img/banner/clarendon1.jpg" alt="Hiranandani-plan" style="width: 100%;">
      </div>
    </div>

  </div>
</div>
<!-- Modal 4 -->
<div id="wilton-big1" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:96%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <img src="http://cdn.getspini.com/hira-img/flat/wilton-big.jpg" alt="Hiranandani-plan" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
<!-- Modal 4 -->
<div id="windsor-big1" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:96%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <img src="http://cdn.getspini.com/hira-img/flat/windsor-big.jpg" alt="Hiranandani-plan" style="width: 100%;">
      </div>
    </div>
  </div>
</div>