
<%= @resultData.inspect %>
<%= @user.inspect %>
<section class="bg-about">
<% if @order_status == "Success"%>
	<div class="container" style="padding-top: 100px; padding-bottom: 100px;margin: auto;text-align: center;  ">
		<div class="row">
			<div class="wrap">
				<!-- <img src="line-top.png" alt="hiranandani-image"> -->
				<%= image_tag("line-top.png", :alt => "hiranandani-image") %>
					<h1>THANK YOU !</h1>
					<!-- <h3>Oragadam, Chennai</h3> -->
				<!-- <img src="line-bottom.png" alt="hiranandani-image"> -->
				<%= image_tag("line-bottom.png", :alt => "hiranandani-image") %>
			</div>
		</div>
		<div class="row" >
		  <div class="col-md-12" style="padding-top: 20px; text-align: center;margin: auto;">
			<!-- <h2>INTRODUCTION</h2> -->
			<h2 style="font-size: 25px;padding-bottom: 20px;">Your Order Id: <%= @resultData["order_id"] %></h2>

			<h4>Your Payment Has Been Successfully Credited. We Have Received Your Order and We Will Contact  You Soon</h4>
			
			<h5 style="padding-top: 20px;padding-bottom: 10px;">Having Trouble? <a href="contact-us.html">Contact Us</a></h5>
		  </div>
		  	<a  href="http://hiranandaniparks.com/"><button type="button" class="btn btn-warning">Continue To Homepage</button></a>
		</div>
	</div>
<% else %>

	<div class="container" style="padding-top: 100px; padding-bottom: 100px;margin: auto;text-align: center;  ">
		<div class="row">
			<div class="wrap">
				<!-- <img src="line-top.png" alt="hiranandani-image"> -->
				<%= image_tag("line-top.png", :alt => "hiranandani-image") %>
					<h1>THANK YOU !</h1>
					<!-- <h3>Oragadam, Chennai</h3> -->
				<!-- <img src="line-bottom.png" alt="hiranandani-image"> -->
				<%= image_tag("line-bottom.png", :alt => "hiranandani-image") %>
			</div>
		</div>
		<div class="row" >
		  <div class="col-md-12" style="padding-top: 20px; text-align: center;margin: auto;">
			<!-- <h2>INTRODUCTION</h2> -->
			<h2 style="font-size: 25px;padding-bottom: 20px;">Your Order Id: <%= @resultData["order_id"] %></h2>
			<h4>Your Payment Has Been Unsuccessful. Kindly Retry Again To Book The Plot</h4>
			
			<h5 style="padding-top: 20px;padding-bottom: 10px;">Having Trouble? <a href="hpa">Contact Us</a></h5>
		  </div>
		  	<a  href="index.html"><button type="button" class="btn btn-warning">Continue To Homepage</button></a>
		</div>
	</div>
<% end %>	

</section>