
<div class="col-md-3 col-xs-6 box">
	<label class="btn btn-primary">
		<img src="https://images.typeform.com/images/VPg7Pg6aiQPx/choice/default#.jpeg" alt="..." class="img-thumbnail img-check">
		<!-- <input type="radio" name="chk1" id="item<%= plot.sequence %>" value="Plot size<%= plot.size %>sq.ft and Rs.<%= plot.amount %> L" class="hidden" autocomplete="off" required> -->
		<%= f.radio_button :plot_details ,value: "Plot size 600 sq.ft and Rupees 13.2 Lacks" ,id: 'item1' , autocomplete: 'off'  %>
	</label>
</div>
<div class="col-md-3 col-xs-6 box">
	<label class="btn btn-primary">
		<img src="https://images.typeform.com/images/Lq7svQcpzeum/choice/default#.jpeg" alt="..." class="img-thumbnail img-check">
		<!-- <input type="radio" name="chk1" id="item<%= plot.sequence %>" value="Plot size<%= plot.size %>sq.ft and Rs.<%= plot.amount %> L" class="hidden" autocomplete="off" required> -->
		<%= f.radio_button :plot_details ,value: "Plot size 1200 sq.ft and Rupees 26.4 Lacks" ,id: 'item1' , autocomplete: 'off'  %>
	</label>
</div>
<div class="col-md-3 col-xs-6 box">
	<label class="btn btn-primary">
		<img src="https://images.typeform.com/images/ER95F25xFkDn/choice/default#.jpeg" alt="..." class="img-thumbnail img-check">
		<!-- <input type="radio" name="chk1" id="item<%= plot.sequence %>" value="Plot size<%= plot.size %>sq.ft and Rs.<%= plot.amount %> L" class="hidden" autocomplete="off" required> -->
		<%= f.radio_button :plot_details ,value: "Plot size 1500 sq.ft and Rupees 33 Lacks" ,id: 'item1' , autocomplete: 'off'  %>
	</label>
</div>
<div class="col-md-3 col-xs-6 box">
	<label class="btn btn-primary">
		<img src="https://images.typeform.com/images/LuD2SVkrJKw4/choice/default#.jpeg" alt="..." class="img-thumbnail img-check">
		<!-- <input type="radio" name="chk1" id="item<%= plot.sequence %>" value="Plot size<%= plot.size %>sq.ft and Rs.<%= plot.amount %> L" class="hidden" autocomplete="off" required> -->
		<%= f.radio_button :plot_details ,value: "Plot size 1800 sq.ft and Rupees 39.6 Lacks" ,id: 'item1' , autocomplete: 'off'  %>
	</label>
</div>
<div class="col-md-3 col-xs-6 box">
	<label class="btn btn-primary">
		<img src="https://images.typeform.com/images/k5KZWMT55EHd/choice/default#.jpeg" alt="..." class="img-thumbnail img-check">
		<!-- <input type="radio" name="chk1" id="item<%= plot.sequence %>" value="Plot size<%= plot.size %>sq.ft and Rs.<%= plot.amount %> L" class="hidden" autocomplete="off" required> -->
		<%= f.radio_button :plot_details ,value: "Plot size 2100 sq.ft and Rupees 42.6 Lacks" ,id: 'item1' , autocomplete: 'off'  %>
	</label>
</div>
<div class="col-md-3 col-xs-6 box">
	<label class="btn btn-primary">
		<img src="https://images.typeform.com/images/Nxq6UHB9kUq3/choice/default#.jpeg" alt="..." class="img-thumbnail img-check">
		<!-- <input type="radio" name="chk1" id="item<%= plot.sequence %>" value="Plot size<%= plot.size %>sq.ft and Rs.<%= plot.amount %> L" class="hidden" autocomplete="off" required> -->
		<%= f.radio_button :plot_details ,value: "Plot size 2400 sq.ft and Rupees 52.8 Lacks" ,id: 'item1' , autocomplete: 'off'  %>
	</label>
</div>