<section style="background-color: #121212;margin-top: 56px;">
	<div class="container" style="min-height: 500px;">
		<div class="row" style="margin-top: 70px;">
			<div class="col-md-12">
				<div class="text-center">
					<%= image_tag("line-top.png", :alt => "hiranandani-image") %>

						<h1>Hello <%= @user_detail.name %>, Thank you for booking plot with us.</h1>
						<!-- <h3>Oragadam, Chennai</h3> -->
					<%= image_tag("line-bottom.png", :alt => "hiranandani-image") %>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-12"> -->
			<!-- <h3>Your plot details <%= @user_detail.plot_details %></h3> -->
		<!-- </div> -->
		<div class="col-md-12 text-center">
			<h2>Do you confirm your booking by paying Rs.20000/ through online ?</h2>
			<h2>Please click the below button to confirm your plot.</h2>
			<div class="col-md-12">
				 <%= link_to "Click here to pay", plot_booking_confirmation_redirect_path(@user_detail),class:'btn custom-btn btn-lg'  %>
				
			</div>
		</div>
	</div>
</section>

<style type="text/css">
	.custom-btn{
	background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
</style>