<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes" />
    <meta name="description" content="<%= yield :description %>" />
    <meta name="keyword" content="<%= yield :keyword %>" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/disclaimer' %>
    <div class="col-md-12">
       <a class="book-plot-btn" href="/Plot-booking">Book plot</a>
       <button class="call-btn"><i class="glyphicon glyphicon-earphone"></i></button>
      <a class="call-btn-toggle" href="tel:04433012879">044-3301-2879</a>
       <button type="button" class="Enquire-now-btn" data-toggle="modal" data-target="#popup-enqiuery">ENQUIRE-NOW</button>
       <%= render 'layouts/enquire' %>
    </div>
      <%= yield %>
    <%= render 'layouts/footer' %>
    <script>
        $(document).ready(function(){
          $('.call-btn').click(function(){
            $('.call-btn-toggle').toggle('slow');
          });
        });
    </script>
  </body>
</html>
