<!DOCTYPE html>
<html>
  <head>
    <title>Hparks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 logo-1">
            <img src="http://cdn.getspini.com/hira-img/logo/opt/hparks-logo2.png"/>
          </div>
          <div class="col-md-6 text-right logo-2">
            <img src="http://cdn.getspini.com/hira-img/logo/hcom-logo3.png" />
          </div>
        </div>
      </div>
    </header>
    <section>
      <%= yield %>
    </section>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center">
            <p style="color:#fff;">© Hiranandani Parks. All rights reserved.</p>
          </div>
          
        </div>
      </div>
    </footer>
  </body>
</html>
