<!DOCTYPE html>
<html>
  <head>
    <title>Hparks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes" />

  </head>

  <body>
    <%= render 'layouts/header' %>
    <section style="background-color: #121212;margin-top: 70px;">
      <%= yield %>
    </section>

    <%= render 'layouts/footer' %>
  </body>
</html>
